<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.mwaysolutions.cordova.mcappushplugin"
    version="2.1.1">

    <name>MCapPushPlugin</name>
	<author>Marcus Koehler</author>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<!-- ios -->
	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="MCapPushPlugin">
				<param name="ios-package" value="MCapPushPlugin"/>
			</feature>
		</config-file>

		<js-module src="www/MCapPushNotification.js" name="MCapPushNotification">
   			<clobbers target="navigator.MCapPushNotification" />
		</js-module>


        <source-file src="src/AppDelegate+notification.m" />
		<source-file src="src/MCapPushPlugin.m" />

		<header-file src="src/AppDelegate+notification.h" />
		<header-file src="src/MCapPushPlugin.h" />

        <framework src="src/Vendor/PushLibrary/PushLibrary.framework" custom="true" />
        <framework src="/System/Library/SystemConfiguration.framework" custom="false" />

	</platform>
</plugin>
